---
import Layout from "../../layouts/Layout.astro";
import MNavbar from "../../components/MNavbar.astro";
import MProyectTitle from "../../components/MProyectTitle.astro";

import { PROYECTS_DATA } from "../../@constants/proyects";
import { ExternalLink } from "@lucide/astro";

export async function getStaticPaths() {
  return PROYECTS_DATA.map((project) => ({
    params: { proyect: project.slug },
    props: { project },
  }));
}

const { project } = Astro.props;
---

<Layout title={`Proyecto: ${project.title}`}>
  <MNavbar />
  <main class="project-detail">
    <div class="project-detail__header">
      <MProyectTitle>
        <span slot="title">{project.title}</span>
      </MProyectTitle>
      <div class="project-detail__link-container">
        <a href={project.link} target="_blank" class="project-detail__link">
          Visitar sitio web
        </a>
        <ExternalLink size={20} />
      </div>
    </div>

    <img src={project.image.src} alt={project.title} />

    <section class="project-detail__info">
      <h3>Sobre el proyecto</h3>
      <p>{project.description}</p>

      <div class="project-detail__tags">
        {
          project.tags.map((tag) => (
            <div class="tag">
              <span class="tag__label">{tag.label}</span>
            </div>
          ))
        }
      </div>
    </section>

    {
      project.responsiveImage.responsive && (
        <section class="project-detail__responsive">
          <div class="responsive-wrapper">
            <img src={project.responsiveImage.link.src} alt="Responsive view" />
          </div>
          <p class="responsive-caption">Responsive View Mobile</p>
        </section>
      )
    }
  </main>
</Layout>

<style>
  @reference "tailwindcss";

  .project-detail {
    @apply max-w-5xl mx-auto px-4 py-24;
  }

  .project-detail__header {
    @apply text-center;
  }

  .project-detail__link-container {
    @apply mt-5 mb-8 flex items-center gap-2 text-indigo-500 justify-center;
  }

  .project-detail__link {
    @apply hover:underline font-medium;
  }

  .project-detail__main-image img {
    @apply w-full h-auto object-cover;
  }

  .project-detail__info {
    @apply w-full max-w-4xl text-left;
  }

  .project-detail__info h3 {
    @apply text-xl font-bold mb-4;
  }

  .project-detail__info p {
    @apply text-gray-600 leading-relaxed mb-8;
  }

  .project-detail__tags {
    @apply flex flex-wrap gap-3;
  }

  .tag {
    @apply flex items-center gap-2 px-4 py-2 border border-gray-200 rounded-full text-sm font-medium text-gray-700;
  }

  .project-detail__responsive {
    @apply w-full flex flex-col items-center gap-4;
  }

  .responsive-wrapper {
    @apply max-w-xs rounded-[3rem] border-12 border-black overflow-hidden shadow-2xl;
  }

  .responsive-caption {
    @apply text-sm text-gray-500 font-medium;
  }
</style>
