---
import Layout from "../../layouts/Layout.astro";
import MNavbar from "../../components/MNavbar.astro";
import MFooter from "../../components/MFooter.astro";
import MProjectTitle from "../../components/MProjectTitle.astro";

import { PROJECTS_DATA } from "../../@constants/projects";
import { ExternalLink } from "@lucide/astro";

export async function getStaticPaths() {
  return PROJECTS_DATA.map((project) => ({
    params: { project: project.slug },
    props: { project },
  }));
}

const { project } = Astro.props;
---

<Layout title={`Proyecto: ${project.title}`}>
  <MNavbar />
  <main class="project-detail">
    <div class="project-detail__header">
      <MProjectTitle>
        <span slot="title">{project.titlePage}</span>
      </MProjectTitle>
      <div class="project-detail__link-container">
        <a href={project.link} target="_blank" class="project-detail__link">
          Visitar sitio web
        </a>
        <ExternalLink size={20} />
      </div>
    </div>

    <img
      class="project-detail__image"
      src={project.image.src}
      alt={project.title}
    />

    <section class="project-detail__info">
      <h3>Sobre el proyecto</h3>
      <p set:html={project.description} />

      <div class="project-detail__tags">
        {
          project.tags.map((tag) => (
            <div class="tag">
              <tag.icon size={16} />
              <span class="tag__label">{tag.label}</span>
            </div>
          ))
        }
      </div>
    </section>

    {
      project.responsiveImage.link && (
        <section class="project-detail__responsive">
          {project.responsiveImage.responsive ? (
            <>
              <img
                class="project-detail__responsive-image"
                src={project.responsiveImage.link.src}
                alt="Responsive view"
              />
              <p class="responsive-caption">Responsive View Mobile</p>
            </>
          ) : (
            <>
              {project.responsiveImage.title && (
                <h3 class="project-detail__secondary-title">
                  {project.responsiveImage.title}
                </h3>
              )}
              <img
                class="project-detail__secondary-image"
                src={project.responsiveImage.link.src}
                alt=""
              />
            </>
          )}
        </section>
      )
    }
  </main>
  <MFooter />
</Layout>

<style>
  @reference "tailwindcss";

  .project-detail {
    @apply max-w-5xl mx-auto py-24;
  }

  .project-detail__header {
    @apply text-center;
  }

  .project-detail__link-container {
    @apply mt-8 mb-8 flex items-center gap-2 text-indigo-500 justify-center;
  }

  .project-detail__link {
    @apply hover:underline font-medium;
  }

  .project-detail__image {
    @apply w-full h-auto object-cover rounded-xl;
    box-shadow:
      0px 5.71px 15.23px 0px rgba(0, 0, 0, 0.08),
      0px 2.86px 5.71px -0.3px rgba(0, 0, 0, 0.12),
      0px 8.57px 25.7px 7.61px rgba(0, 0, 0, 0.05);
  }

  .project-detail__info {
    @apply px-14 mt-24 mb-24 text-left;
  }

  .project-detail__info h3 {
    @apply text-xl font-semibold mb-4;
  }

  .project-detail__info p {
    @apply text-gray-800 leading-relaxed mb-9;
  }

  .project-detail__tags {
    @apply flex flex-wrap gap-3;
  }

  .tag {
    @apply cursor-pointer transition-all duration-300 flex items-center gap-2 px-4 py-2 border border-gray-200 rounded-full text-sm font-medium text-gray-700 hover:border-indigo-500;
  }

  .project-detail__responsive {
    @apply w-full flex flex-col items-center gap-4 px-14 mt-24;
  }

  .project-detail__responsive-image {
    @apply w-[300px] h-auto;
  }

  .responsive-caption {
    @apply text-sm text-gray-500;
  }

  .project-detail__secondary-image {
    @apply w-full h-auto;
  }

  .project-detail__secondary-title {
    @apply text-xl font-semibold mb-4 text-left;
  }
</style>
